@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: "Inter", sans-serif;
    --font-mono: "monospace", monospace;
}

/* Smooth scroll offset for fixed navbar */
[id] {
    scroll-margin-top: 5rem;
}